{{ ansible_managed | comment }}

{% for interface in netifrc_interfaces | sort(attribute='name') %}
# enable {{ interface.name }}: {{ interface.enabled|default(true) }}
{% if 'type' in interface %}type_{{ interface.name }}="{{ interface.type }}"
{% endif %}
config_{{ interface.name }}="{{ interface.config|join('\n') }}"
{% if 'routes' in interface %}routes_{{ interface.name }}="{{ interface.routes|join('\n') }}"
{% endif %}
{% if 'offload' in interface %}ethtool_offload_{{ interface.name }}="{{ interface.offload }}"
{% endif %}
dad_timeout_{{ interface.name }}="{{ interface.dad_timeout|default(0) }}"
{% if 'vlans' in interface %}vlans_{{ interface.name }}="{{ interface.vlans | join(' ') }}"
{% endif %}
{% if 'after' in interface %}rc_net_{{ interface.name }}_after="{{ interface.after }}"
{% endif %}
{% if 'before' in interface %}rc_net_{{ interface.name }}_before="{{ interface.before }}"
{% endif %}
{% if 'need' in interface %}rc_net_{{ interface.name }}_need="{{ interface.need }}"
{% endif %}
{% if 'provide' in interface %}rc_net_{{ interface.name }}_provide="{{ interface.provide }}"
{% endif %}
{% endfor %}

{% set dummy_interfaces = netifrc_interfaces | sort(attribute='name') | selectattr('type','defined') | selectattr('type', 'equalto', 'dummy') | map (attribute='name') | join('|') %}
{% set max_buffers_interfaces = netifrc_interfaces | sort(attribute='name') | selectattr('max_buffers','defined') | selectattr('max_buffers') | map (attribute='name') | join('|') %}

preup() {
  case "${IFACE}" in
{% if dummy_interfaces %}
    {{ dummy_interfaces }})
      ;;
{% endif %}
    *)
      einfo sysctl $(sysctl net.ipv6.conf.${IFACE}.accept_ra=0)
      einfo sysctl $(sysctl net.ipv6.conf.${IFACE}.accept_redirects=0)
      einfo sysctl $(sysctl net.ipv4.conf.${IFACE}.rp_filter=0)
      einfo sysctl $(sysctl net.ipv4.conf.${IFACE}.accept_redirects=0)
      einfo sysctl $(sysctl net.ipv4.conf.${IFACE}.secure_redirects=0)
      einfo sysctl $(sysctl net.ipv4.conf.${IFACE}.send_redirects=0)
      einfo sysctl $(sysctl net.ipv6.conf.${IFACE}.keep_addr_on_down=1)
      ;;
  esac
  case "${IFACE}" in
{% if max_buffers_interfaces %}
    {{ max_buffers_interfaces }})
      RX=$(ethtool -g ${IFACE} | sed -n "s/^RX:\s*\([0-9]*\)$/\1/p;/^Current.*/q")
      TX=$(ethtool -g ${IFACE} | sed -n "s/^TX:\s*\([0-9]*\)$/\1/p;/^Current.*/q")
      CURRENT_RX=$(ethtool -g ${IFACE} | sed -n "/^Current hardware settings:/,\$!d;s/^RX:\s*\([0-9]*\)$/\1/p")
      CURRENT_TX=$(ethtool -g ${IFACE} | sed -n "/^Current hardware settings:/,\$!d;s/^TX:\s*\([0-9]*\)$/\1/p")
      if [[ "${RX}" -ne "${CURRENT_RX}" ]]; then
        ethtool -G ${IFACE} rx $RX
      fi
      if [[ "${TX}" -ne "${CURRENT_TX}" ]]; then
        ethtool -G ${IFACE} tx $TX
      fi
      ;;
{% endif %}
    *)
      ;;
  esac
}

postup() {
  case "${IFACE}" in
{% if dummy_interfaces %}
    {{ dummy_interfaces }})
      einfo sysctl $(sysctl net.ipv6.conf.${IFACE}.keep_addr_on_down=1)
      ;;
{% endif %}
    *)
      ;;
  esac
}
